<div class="open">
    <span class="cls"></span>
    <span>
        <ul class="sub-menu ">
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="covid19india">COVID-19 India</a>
            </li>
            <li>
                <a routerLink="about">About</a>
            </li>
            <li>
                <a href="javascript:void(0)" data-toggle="modal" data-target=".bd-example-modal-sm">Resources</a>
            </li>
        </ul>
    </span>
    <span class="cls"></span>
</div>
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
                <h5>About This Data & Content</h5>
                <p>This data changes rapidly, so what’s shown may be out of date.<br><br>All Covid content related information is also available on the <a href="https://www.who.int/health-topics/coronavirus">World Health Organization</a> & <a href="https://www.cdc.gov/coronavirus/2019-ncov/">cdc.gov</a></p>
                <footer class="modal-footer bg-light justify-content-center py-1">
                    <p>Copyright by <strong>the Coronavirus</strong></p>
                </footer>
        </div>
    </div>
</div>