<div class="row" style="text-align: center;">
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/Wear-mask.png">
        <p>Wear Mask</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/wash-hand.png">
        <p>Wash Hand</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/avoid-contact.png">
        <p>Avoid Contact</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/boil.png">
        <p>Boil Your Food</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/use.png">
        <p>Use Soap & Antibacterial Gel</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/Cough.png">
        <p>Cough On Your Elbow</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/Keep-your-distance.png">
        <p>Keep Your Distance</p>
    </div>
    <div class="col-md-4" style="margin-bottom: 20px;">
        <img style="width: 100%;" src="../../../../../assets/images/sleep.png">
        <p>Regular Sleep</p>
    </div>
</div>