<div class="container-fluid">
    <div class="row traking-div">
        <div class="col-md-3">
            <div class="counter-back con-iv">
                <h1 class="confirmed">{{worldConfirmed}}</h1>
                <span class="tag-line">Total Confirmed</span>
                <img class="icon-svg confirmed-ico" src="../../../../assets/images/confirmed.svg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter-back dea-iv">
                <h1 class="deaths">{{worldDeaths}}</h1>
                <span class="tag-line">Total Deaths</span>
                <img class="icon-svg deaths-ico" src="../../../../assets/images/deaths.svg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="counter-back rec-iv">
                <h1 class="recovered">{{worldRecovered}}</h1>
                <span class="tag-line">Total Recovered</span>
                <img class="icon-svg recovered-ico" src="../../../../assets/images/recovered.svg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="global-bar-data" #barChart style="width: 100%; height: 100%;"></div>
        </div> 
    </div>
</div> 