<div class="text-center">
    <h2 class="display-4">Covid Cases in India!</h2>
</div>
<div class="container">
    <div class="row justify-content-md-center text-center">
        <div class="col col-lg-3">
          <div class="neumorphism confirmed-hover">
            <p class="confirmed">Confirmed</p>
            <h2 style="color: #fe073a">{{indiaconfirmed}}</h2>
          </div>
        </div>
        <div class="col col-lg-3">
          <div class="neumorphism deceased-hover" >
                <p class="deceased">Deceased</p>
                <h2 style="color: #6c757d"> {{indiadeathsData}}</h2>
          </div>
        </div>
        <div class="col col-lg-3">
            <div class="neumorphism discharged-hover">
                <p class="discharged">Discharged</p>
                <h2 style="color: #27a043"> {{indiadischargedData}}</h2>
            </div>
        </div>
      </div>
</div>
